@model web.Models.ViewModels.AddressListViewModel

<form class="row" asp-action="CreateAddress" asp-controller="Account">
    <div class="border rounded p-4 billAdd">
        <h2>New Address</h2>
        <fieldset class="inputaddress row">
            <input type="text" class="col-12" asp-for="FirstName" placeholder="First Name"></br>
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <input type="text" class="col-12" asp-for="LastName" placeholder="Last Name"></br>
            <span asp-validation-for="LastName" class="text-danger"></span>
            <input type="text" class="col-12" asp-for="PhoneNumber" placeholder="Phone Number"></br>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            <input type="text" class="col-12" asp-for="Country" placeholder="Country"></br>
            <span asp-validation-for="Country" class="text-danger"></span>
            <input type="text" class="col-12" asp-for="City" placeholder="City"></br>
            <span asp-validation-for="City" class="text-danger"></span>
            <input type="text" class="col-12" asp-for="StreetAddress" placeholder="Street Address"></br>
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
            <input type="text" class="col-12" asp-for="ZipCode" placeholder="Zip Code">
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </fieldset>
    <button type="submit" class="btn btn-default col-md-4 offset-md-4 addressButton">Continue</button>
    </div>
</form>
