
<div>
    <h2>Account Profile</h2>
</div>

<p>
    Hi @((User.Identity  as System.Security.Claims.ClaimsIdentity).Claims.FirstOrDefault(x => x.Type == "Name").Value.ToString())
</p>

@if (User.IsInRole("Staff"))
{
<form asp-action="Index" asp-controller="Staff" method="GET">
    <div class="form-group">
        <button type="submit" class="btn btn-default">Management Console</button>
    </div>
</form>
}


<form asp-action="Logout" asp-controller="Account" method="POST">
    <div class="form-group">
        <button type="submit" class="btn btn-default">Logout</button>
    </div>
</form>

