@model web.Models.ViewModels.RegisterViewModel

<h1>Register Staff</h1>
<form asp-action="RegisterStaff" asp-controller="Account" class="form-horizontal">
    <div class="form-group">
        <input type="email" asp-for="Email" class="form-controll" placeholder="Enter email"/>
    </div>
    <div class="form-group">
        <input type="text" asp-for="FirstName" class="form-controll" placeholder="Enter first name"/>
    </div>
    <div class="form-group">
        <input type="text" asp-for="LastName" class="form-controll" placeholder="Enter last name"/>
    </div>
    <div class="form-group">
        <input type="password" asp-for="Password" class="form-controll" placeholder="Enter password (min 8 char)"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Register</button>
    </div>
</form>