@model web.Models.InputModels.OrderInputModel

@{
  ViewData["Title"] = "Shipping Address";
}

<form class="row" method="POST">
  <div class="border rounded p-4 checkout-deliv">
    <h2>Delivery address</h2>
    <fieldset class="selectaddress row">
      <select asp-for="ShippingAddressId" class="col-12 form-control" id="deliveryselect">
        @foreach (var a in Model.AllUserAddresses) {
          <option value=@a.Id>@a.StreetAddress</option>
        }
      </select>
    </fieldset>

    </br>
    <a class="col-md-12 btn btn-primary" asp-controller="Account" asp-action="CreateAddress">Add Address</a>
  </div>
  
  <div class="border rounded p-4 checkout-bill">
    <h2>Billing address</h2>
    <fieldset class="selectaddress row">
      <select asp-for="BillingAddressId" class="col-12 form-control" id="billingselect">
        @foreach (var a in Model.AllUserAddresses) {
          <option value=@a.Id>@a.StreetAddress</option>
        }
      </select>
    </fieldset>
    </br>
    <a class="col-md-12 btn btn-primary" asp-controller="Account" asp-action="CreateAddress">Add Address</a>
  </div>
  
  <button type="submit" class="btn btn-secondary col-md-6 offset-md-3 checkout-button">Continue</button>
</form>
