@model List<web.Models.ViewModels.AddressListViewModel>

<p>Hey, <!-- Model[0].FirstName var ekki að virka á meðan ég var að gera allt semi-fallegt. -->Asdf! Please Select or fill out your Delivery and Shipping Address</p>

<form class="row">
  <div class="border rounded p-4 delivAdd">
    <h2>Delivery address</h2>
    <fieldset class="selectaddress row">
      <select class="col-12" id="deliveryselect">
        @foreach (var a in Model) {
          <option>@a.StreetAddress</option>
        }
      </select>
    </fieldset>
    </br>
    <fieldset class="inputaddress row" id="deliveryinput">
      <input type="text" class="col-12" placeholder="First Name"></br>
      <input type="text" class="col-12" placeholder="Last Name"></br>
      <input type="text" class="col-12" placeholder="Phone Number"></br>
      <input type="text" class="col-12" placeholder="Country"></br>
      <input type="text" class="col-12" placeholder="City"></br>
      <input type="text" class="col-12" placeholder="Street Address"></br>
      <input type="text" class="col-12" placeholder="Zip Code"></br>
    </fieldset>
  </div>
  
  <div class="border rounded p-4 billAdd">
    <h2>Billing address</h2>
    <fieldset class="selectaddress row">
      <select class="col-12" id="billingselect">
        @foreach (var a in Model) {
          <option>@a.StreetAddress</option>
        }
      </select>
    </fieldset>
    </br>
    <fieldset class="inputaddress row" id="billinginput">
      <input type="text" class="col-12" placeholder="First Name"></br>
      <input type="text" class="col-12" placeholder="Last Name"></br>
      <input type="text" class="col-12" placeholder="Phone Number"></br>
      <input type="text" class="col-12" placeholder="Country"></br>
      <input type="text" class="col-12" placeholder="City"></br>
      <input type="text" class="col-12" placeholder="Street Address"></br>
      <input type="text" class="col-12" placeholder="Zip Code">
    </fieldset>
  </div>
  
  <button type="submit" class="btn btn-default col-md-4 offset-md-4 addressButton">Continue</button>
</form>
