@model web.Models.InputModels.OrderInputModel

@{
  ViewData["Title"] = "Shipping Address";
}

</br>
<div class="btn-group address-buttons row">
  <button type="button" class="btn btn-primary col-md-6 checkout-nav-buttons">1</button>
  <a class="btn btn-info col-md-6 checkout-nav-buttons" asp-controller="Order" asp-action="CheckOutReview" role="button">2</a>
</div>
</br>
</br>

<p>Hey, <!-- Model[0].FirstName var ekki að virka á meðan ég var að gera allt semi-fallegt. -->Asdf! Please Select or fill out your Delivery and Shipping Address</p>

<form class="row" method="POST">
  <div class="border rounded p-4 checkout-deliv">
    <h2>Delivery address</h2>
    <fieldset class="selectaddress row">
      <select asp-for="ShippingAddressId" class="col-12 form-control" id="deliveryselect">
        @foreach (var a in Model.AllUserAddresses) {
          <option value=@a.Id>@a.StreetAddress</option>
        }
      </select>
    </fieldset>

    </br>
    <fieldset class="inputaddress row" id="deliveryinput">
      <input type="text" class="col-12 form-control" placeholder="First Name"></br>
      <input type="text" class="col-12 form-control" placeholder="Last Name"></br>
      <input type="text" class="col-12 form-control" placeholder="Phone Number"></br>
      <input type="text" class="col-12 form-control" placeholder="Country"></br>
      <input type="text" class="col-12 form-control" placeholder="City"></br>
      <input type="text" class="col-12 form-control" placeholder="Street Address"></br>
      <input type="text" class="col-12 form-control" placeholder="Zip Code"></br>
    </fieldset>
  </div>
  
  <div class="border rounded p-4 checkout-bill">
    <h2>Billing address</h2>
    <fieldset class="selectaddress row">
      <select asp-for="BillingAddressId" class="col-12 form-control" id="billingselect">
        @foreach (var a in Model.AllUserAddresses) {
          <option value=@a.Id>@a.StreetAddress</option>
        }
      </select>
    </fieldset>
    </br>
    <fieldset class="inputaddress row" id="billinginput">
      <input type="text" class="col-12 form-control" placeholder="First Name"></br>
      <input type="text" class="col-12 form-control" placeholder="Last Name"></br>
      <input type="text" class="col-12 form-control" placeholder="Phone Number"></br>
      <input type="text" class="col-12 form-control" placeholder="Country"></br>
      <input type="text" class="col-12 form-control" placeholder="City"></br>
      <input type="text" class="col-12 form-control" placeholder="Street Address"></br>
      <input type="text" class="col-12 form-control" placeholder="Zip Code">
    </fieldset>
  </div>
  
  <button type="submit" class="btn btn-secondary col-md-6 offset-md-3 checkout-button">Continue</button>
</form>
