@model web.Models.ViewModels.OrderConfirmationViewModel

<div class="Review-details">
  <h2>Order Details</h2>
  <h3>Price Details</h3>
  <p>Total Price: @Model.Order.PurchaseAmount</p>

</div>



<p>@Model.Order.ShippingAddressId</p>

<p>@Model.Order.BillingAddressId</p>

<p> bravooo</p>
<!--


-->
