@model List<web.Models.ViewModels.OrderItemListViewModel>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


@foreach (var item in Model) {
  <div class="cart-item">
  <p>@item.CustomerId</p>
  <p>@item.ItemPrice</p>
  </div>
}
<p>@Model[0].Quantity</p>
<p> hallo</p>