@{
  ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
  One Book Way<br />
  Bookland, BK 98052-6399<br />
  <abbr title="Phone">P:</abbr>
  354.123.4567
</address>

<address>
  <strong>Support:</strong> <a href="mailto:Support@example.com">support@bookcave.com</a><br />
  <strong>Marketing:</strong> <a href="mailto:Marketing@bookcave.com">marketing@bookcave.com</a>
</address>
