@model web.Models.ViewModels.BookDetailViewModel 
<br />
<br />
<br />

<h1>Book Detail</h1>
<div>
    <p>Book name: @Model.Name</p>
    <p>Book author ID: @Model.AuthorId</p>
    <p>Year published: @Model.Year</p>
    <p>ISBN: @Model.ISBN</p>
</div>