@model List<web.Models.ViewModels.BookListViewModel>
<div>
  <h2>List of books</h2>

  <h5>Test: <a asp-controller="Book" asp-action="Top10">Top 10 books by rating</a></h5>
</div>

<div class="row">
  <div class="col-lg-3">
    <form class="border rounded p-2 mb-2" method="GET" asp-controller="Book" asp-action="Index">
      <fieldset>
        <legend>Filters</legend>

        <div class="form-group">
          <label for="search">Search</label>
          <input class="form-control" type="text" id="search" placeholder="Search" name="searchString2">
        </div>

        <div class="form-group">
          <label for="genre">Genre</label>
          <select class="form-control" id="genre">
            <option value="0">All</option>
            @foreach(var genre in Model[0].AllGenres)
            {
              <option value="@genre.Id">@genre.Name</option>
            }
          </select>
        </div>

        <div class="form-group">
          <label for="priceRange">Price range</label> <small class="float-right" id="currentPriceRangeValue">current setting</small>
          <input type="range" class="custom-range" min="0" max="100" id="priceRange">
        </div>

        <div class="form-group">
          <label for="authors">Authors</label>
          <select class="form-control" id="authors">
            <option value="">All</option>
            <option value="">Some dude</option>
            <option value="">Another dude</option>
            <option value="">This needs</option>
            <option value="">to be</option>
            <option value="">dynamically</option>
            <option value="">filled</option>
          </select>
        </div>

        <div class="form-group">
          <label for="order">Order by</label>
          <select class="form-control" id="order" name="orderby">
            <option value="name-asc">Order by Name Ascending</option>
            <option value="name-desc">Order by Name Descending</option>
            <option value="price-asc">Order by Price Ascending</option>
            <option value="price-desc">Order by Price Descending</option>
            <option value="rating-asc">Order by Rating Ascending</option>
            <option value="rating-desc">Order by Rating Descending</option>
          </select>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-lg-9">
    @{ await Html.RenderPartialAsync("Books", Model);}
  </div>
</div>