@model List<web.Models.ViewModels.BookListViewModel>

@section Scripts 
{
  <script src="~/js/booklist.js" asp-append-version="true"></script>
}

<div>
  <h2>List of books</h2>
</div>

<div class="row">
  <div class="col-lg-3">
    <form class="border rounded p-2 mb-2" method="GET" asp-controller="Book" asp-action="Index">
      <fieldset>
        <legend>Filters</legend>

        <div class="form-group">
          <label for="search">Search</label>
          <input class="form-control" type="text" id="search" placeholder="Search Book Name or Author" name="searchString2">
        </div>

        <div class="form-group">
          <label for="genre">Genre</label>
          <select class="form-control" id="genre" name="genreFilter">
            <option value="0">All</option>
          </select>
        </div>
<!--
        <div class="form-group">
          <label for="priceRange">Price range</label> <small class="float-right" id="currentPriceRangeValue">current setting</small>
          <input type="range" class="custom-range" min="0" max="100" id="priceRange">
        </div>

        <div class="form-group">
          <label for="authors">Authors</label>
          <select class="form-control" id="authors">
            <option value="">All</option>
            <option value="">Some dude</option>
            <option value="">Another dude</option>
            <option value="">This needs</option>
            <option value="">to be</option>
            <option value="">dynamically</option>
            <option value="">filled</option>
          </select>
        </div>
-->
        <div class="form-group">
          <label for="order">Order by</label>
          <select class="form-control" id="order" name="orderby">
            <option value="name-asc">Order by Name A-Z</option>
            <option value="name-desc">Order by Name Z-A</option>
            <option value="price-asc">Order by Price Low to High</option>
            <option value="price-desc">Order by Price High to Low</option>
            <option value="rating-asc">Order by Rating Low to High</option>
            <option value="rating-desc">Order by Rating High to Low</option>
          </select>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-lg-9">
    @{ await Html.RenderPartialAsync("Books", Model);}
  </div>
</div>