@model web.Models.InputModels.RatingInputModel

@{
  ViewData["Title"] = "Rate " + Model.BookName;
}
<div class="row">
  <h1 class="col-md-6 offset-3">@Model.BookName </h1>

  <form method="POST" class="col-md-8 offset-2 row" asp-controller="Book" asp-action="RateBook">
    <label class="col-md-2" asp-for="RatingValue">Rating</label>
    <input class="col-md-8 form-control" type="number" asp-for="RatingValue">
    <div class="col-md-2"></div>
    <span asp-validation-for="RatingValue" class="text-danger"></span>

    <label class="col-md-2" asp-for="Comment">Optional comment</label>
    <textarea class="col-md-8 form-control" name="Comment" placeholder="Enter comment here..."></textarea>
    <div class="col-md-2"></div>
    <span asp-validation-for="Comment" class="text-danger"></span>
    <br/>

    @{
      <input type="hidden" asp-for="BookId" value="@Model.BookId">
      <input type="hidden" asp-for="BookName" value="@Model.BookName">
    }

    <input type="submit" value="Submit" class="btn btn-info col-md-8 offset-md-2 checkout-button">
  </form> 
</div>
