@model List<web.Models.ViewModels.BookListViewModel>

@{
  ViewData["Title"] = "Top 10 Books";
}

@section Scripts {
  <script src="~/js/booklist.js" asp-append-version="true"></script>
}

<div>
  <h2>Top 10 books</h2>
</div>



@{ await Html.RenderPartialAsync("BookList", Model);}
