body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: inherit;
}

/* Resizing images */
/* https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang */
.bookImage {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

/* Book detail buttons */
.detailCart {
  width: 100%;
  margin: 2px 0;
}
@media screen and (min-width: 992px) {
  .detailReview {
    width: auto;
    margin-right: 2px;
  }
}
@media screen and (max-width: 991px) {
  .detailReview {
    width: auto;
    margin-bottom: 2px;
  }
}
@media screen and (max-width: 767px) {
  .detailReview {
    width: 100%;
    margin-bottom: 2px;
  }
  .detailWishlist {
    width: 100%;
    margin-bottom: 2px;
  }
}
@media screen and (min-width: 768px) {
  .detailWishlist {
    width: auto;
  }
}
.detailAuthor {
  color: black;
}

.bookDetails {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.niceBorder {
  padding: 1.5rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

@media screen and (min-width: 768px) {
  .delivAdd {
    width: 49%;
    margin-right: 2%;
  }
  .billAdd {
    width: 49%;
  }
}
@media screen and (max-width: 767px) {
  .delivAdd {
    width: 100%;
    margin-bottom: 1rem;
  }
  .billAdd {
    width: 100%;
  }
}
.addressButton {
  margin-top: 1rem;
}


/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

.rating {
    bottom: auto;
}

.star {
    color: gold;
    font-size: large;
}

.book-card {
    margin-bottom: 25px;
}

.book-overlay-upper {
  padding: 0.75rem;
  background-color: #0c0c0d8c;
  bottom: auto;
}

.book-overlay-lower {
  padding: 0.75rem;
  top: auto;
}

.btn-price:disabled, .btn-cart:disabled {
  opacity: 1;
}

.book-card-link {
  color: #f8f9fa;
}

.book-card-link:hover {
  color: white;
}